/* ROOT -- start */
:root{
    --col-almost-white: hsl(0, 0%, 98%);
    --col-medium-gray: hsl(0, 0%, 41%);
    --col-almost-black: hsl(0, 0%, 8%);
}
/* ROOT -- end */
* {
    font-family: 'Epilogue', sans-serif;
    color: var(--col-almost-black);
    background-color: var(--col-almost-white);
}
main{
    width: 100%;
}
a{
    text-decoration: none;
}
/* NAVBAR -- start */
.navbar{
  width: 100%;    
}
.primary-nav{
    flex-direction: column;
    background-color: var(--col-almost-white);    
    margin: 0rem 0 0 8rem ;
    inset: 0 0 0 0%;
    position: fixed;
    z-index: 999;
    transition: 0.2s ease-out;

    color: var(--col-medium-gray);
}
.dark-bg{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.63);
    margin: 0 ;
    inset: 0;
    transition: 0.2s ease-out;
    z-index: 99;
}
nav ul:first-of-type{
    padding: 4.5rem 0 0 1rem;    
    list-style: none;    
}
nav ul:last-of-type{
    padding: 1rem 0 0 1rem;    
    list-style: none;    
}
nav ul li{
    margin-bottom: 1rem;
}
.drop-down-list{
    margin: 0;
    padding: 1.2rem 0 0.1rem 1.2rem;
    margin-bottom: 1rem;
}
.li-btn{
    padding-right: 1rem;
    
}
.btn-link-login{    
    width: 100%;
    height: 2.8rem;
    border: none;
    border-radius: 0.8rem;
}
.btn-link-login a{
    color: var(--col-medium-gray);
}
.btn-link-login a:hover{
    color: var(--col-almost-black);
}
.btn-link-register{    
    width: 100%;
    height: 2.8rem;
    border: solid 2px var(--col-medium-gray);
    border-radius: 0.8rem;
}
.btn-link-register a{
    color: var(--col-medium-gray);    
}
.btn-link-register a:hover{
    color: var(--col-almost-black);
}
.btn-link-register:hover{
    border: solid 2px var(--col-almost-black);
    cursor: pointer;
}
.logo-icon{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 99;
}
.menu-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
}
.tr-100{
    transform: translateX(100%);
}
.tr-0{
    transform: translateX(0%);
}
.tr--100{
    transform: translateX(-100%);
}
.left-list{
    color: var(--col-medium-gray);
}
.left-list a{
    color: var(--col-medium-gray);
}
.left-list li a:hover{
    color: var(--col-almost-black);
    cursor: pointer;
}

@media (min-width: 1200px){
    .logo-icon{
        top: 1.5rem;
        left: 13rem;
    }
    .navbar{        
        margin-top: -2rem;
        margin-left: 22rem;
        display: grid;
        grid-template-columns: 5rem 5rem 10rem;
        grid-template-rows: 1fr;
    }
    .logo-icon{
        position: fixed;
    }
    .tr-100, .tr--100{
        transform: translateX(0%);
    }
    .dark-bg{
        position: relative;
    }
    .primary-nav{
        z-index: -1;
        width: 65%;
        background-color: rgba(255, 255, 255, 0);    
        color: var(--col-medium-gray);
        margin: -2rem 0 0 -3rem;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        inset: initial;
    }
    .left-list{
        display: flex;
        gap: 0.8rem;
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 0;
        padding-bottom: 0;
    }    
    .left-list li{
        width: 7rem;
    }    
    .left-list ul li{
        margin-bottom: 0;
        padding-bottom: 0.8rem;
    }     
    .right-list{
        display: flex;
        margin-right: -4rem;
    }
    .right-list li{
        margin-top: 3rem;
        padding-bottom: 0;
        background-color: rgba(255, 255, 255, 0);
    }    
    .menu-icon{
        display: none;
    }
    .btn-link-login{
        width: 100%;
        height: 2rem;
        border: none;
        border-radius: 0.8rem;
        text-align: right;        
    }
    .btn-link-register{
        width: 7rem;
        height: 3rem;
        border-radius: 0.8rem;
        margin-top: -0.5rem;
    }
    .drop-down-list-f{
        z-index: 9999;
        margin-bottom: 0;
        margin-top: 1.5rem;
        box-shadow: 0px 0px 24px 0px rgb(212, 212, 212);
        border-radius: 1rem;
        overflow: hidden;
        margin-left: -5rem;
        padding: 0;
        width: 10rem;
    }
    .drop-down-list-c{
        margin-bottom: 0;
        margin-top: 1.5rem;
        box-shadow: 0px 0px 24px 0px rgb(212, 212, 212);
        border-radius: 1rem;
        overflow: hidden;
        margin-left: 0rem;
        padding: 0;
        width: 7rem;
    }
}
/* NAVBAR -- end */

/* MAIN -- start */
article{
    padding-top: 1rem;
    padding-top: 4.5rem;
    text-align: center;
}
article h1{
    font-size: 2.1rem;
    font-weight: 700;
    padding-top: 2.8rem;
}
article p{
    color: var(--col-medium-gray);
    padding: 1rem 0.8rem;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.main-img{
    background-image: url('../src/images/image-hero-mobile.png');
    background-size: 375px 282px;
    width: 375px;
    height: 282px;
    margin: 0 auto;
}
.description{
    width: 375px;
    margin: 0 auto;
    margin-top: -6rem;
}
.btn{
    color: var(--col-almost-white);
    background-color: var(--col-almost-black);
    margin-top: 0.5rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid var(--col-almost-black);
    border-radius: 0.8rem;
}
.btn:hover{
    cursor: pointer;
    color: var(--col-almost-black);
    background-color: var(--col-almost-white);
    border: 1px solid var(--col-almost-black);
}
.logos{
    width: 100%;
    padding: 2.5rem 1rem;
}
article ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.logo-1{
    width: 5.5rem;
}
.logo-2{
    width: 3.5rem;
    aspect-ratio: 1;
}
.logo-3{
    width: 4.5rem;  
}
.logo-4{
    width: 4.2rem;
}
@media (min-width: 1200px){
    article{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    article h1{
        margin-top: 4.2rem;
        font-size: 4.5rem;
        line-height: 5rem;
    }
    article p{
        margin-top: 2rem;
        margin-left: -0.7rem;
        margin-right: 2.5rem;
    }
    .btn{
        margin-top: 4rem;
        padding: 1rem 1.8rem;
    }
    article ul{
        margin-top: 4rem;
        gap: 2.4rem;
        margin-bottom: 0;
    }
    .logo-1{
        width: 6.5rem;
    }
    .logo-2{
        width: 4.5rem;
        aspect-ratio: 1;
    }
    .logo-3{
        width: 5.5rem;  
    }
    .logo-4{
        width: 5.2rem;
    }
    .container{
        margin-top: 5.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .description{
        /* z-index: 999; */
        width: 480px;
        margin: 0 auto;
        order: 1;
        text-align: left;
    }
    .main-img{
        z-index: 999;
        background-image: url('../src/images/image-hero-desktop.png');
        background-size: 480px 640px;
        width: 480px;
        height: 640px;
        order: 2;
    }
}
/* MAIN -- end */